<form class="form-signin form-signup hide" role="form">
    <div class="page-card-body">
        <div class="form-group">
            <label class="form-label sr-only" for="signup_fullname">{{ _("Full Name") }}</label>
            <input type="text" id="signup_fullname" class="form-control" name="fullname"
                placeholder="{{ _('First name + Last name') }}" required autofocus autocomplete="name">
            <span class="text-danger">*</span>
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_email">{{ _("Email") }}</label>
            <input type="email" id="signup_email" class="form-control" name="email"
                placeholder="{{ _('Email') }}" required autocomplete="username">
            <span class="text-danger">*</span>
        </div>
        <!-- Custom Fields -->
         <div class="form-group">
		    <label class="form-label sr-only" for="username">{{ _("Username") }}</label>
		    <input id="username" type="text" class="form-control" name="username" placeholder="{{ _('Username') }}" required>
		    <span class="text-danger">*</span>
	    </div>
	    <div class="form-group">
		    <label class="form-label sr-only" for="password">{{ _("Password") }}</label>
		    <input id="password" type="password" class="form-control" name="password" placeholder="{{ _('Password') }}" required>
		    <span class="text-danger">*</span>
	    </div>
        <p class='password-strength-message text-muted small hidden'></p>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_company">{{ _("Company") }}</label>
            <input type="text" id="signup_company" class="form-control" name="company"
                placeholder="{{ _('Company') }}">
        </div>
        <div class="form-group">
            <label class="form-label sr-only" for="signup_phone">{{ _("Phone") }}</label>
            <input type="text" id="signup_phone" class="form-control" name="phone"
                placeholder="{{ _('Phone') }}">
        </div>
    </div>
    <div class="page-card-actions">
        <button id="submit" class="btn btn-sm btn-primary btn-block btn-signup"
            type="submit">{{ _("Sign up") }}</button>
        <p class="text-center sign-up-message">
            <a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
        </p>
    </div>
</form>

<script>

frappe.ready(function() {
	// inputs, paragraphs and button elements
	const new_password = $('#password');
	const password_strength_message =$('.password-strength-message');

	// Info text
	const password_strength_message_success = "{{ _('Success! You are good to go 👍') }}";

	window.strength_message = password_strength_message;

	new_password.on('keyup', function() {
		window.clear_timeout();
		window.timout_password_strength = setTimeout(window.test_password_strength, 200);
	});

	window.test_password_strength = function() {
		window.timout_password_strength = null;

		var args = {
			new_password: new_password.val()
		}

		if (!args.new_password) {
			set_strength_indicator('grey', {'warning': "{{ _('Please enter the password') }}" });
			return;
		}

		return frappe.call({
			method: 'frappe.core.doctype.user.user.test_password_strength',
			args: args,
			callback: function(r) {
				console.log(r.message);
			},
			statusCode: {
				401: function() {
					$('.page-card-head .reset-password-heading')
						.text("{{ _('Invalid Password') }}");
				},
				200: function(r) {
					if (r.message) {
						var score = r.message.score,
							feedback = r.message.feedback;

						if (!feedback) {
							return;
						}

						feedback.score = score;

						if (feedback.password_policy_validation_passed) {
							set_strength_indicator('green', feedback);
						}else{
							set_strength_indicator('red', feedback);
						}
					}
				}
			}

		});
	};

	window.set_strength_indicator = function(color, feedback) {
		var message = [];
		feedback.help_msg = "";
		if(!feedback.password_policy_validation_passed){
			feedback.help_msg = "<br>" + "{{ _('Hint: Include symbols, numbers and capital letters in the password') }}";
		}
		if (feedback) {
			if(!feedback.password_policy_validation_passed){
				if (feedback.suggestions && feedback.suggestions.length) {
					message = message.concat(feedback.suggestions);
				} else if (feedback.warning) {
					message.push(feedback.warning);
				}
				message.push(feedback.help_msg);

			} else {
				message.push(password_strength_message_success);
			}
		}

		strength_message.html(message.join(' ') || '').removeClass('hidden');
	}

	window.clear_timeout = function() {
		if (window.timout_password_strength) {
			clearTimeout(window.timout_password_strength);
			window.timout_password_strength = null;
		}
	};
});

</script>
<script>
	frappe.ready(() => {
		$("#submit").click(function (event) {
            //event.preventDefault();
			var data = {
				full_name: $("#signup_fullname").val(),
				email: ($("#signup_email").val() || "").trim(),
				username: $("#username").val(),
				password: $("#password").val(),
				signup_company: $("#signup_company").val(),
                signup_phone: $("#signup_phone").val(),
			};

			/*frappe.call({
				type: "POST",
				method: "highskills_erpnext.api.signup.custom_sign_up",
				args: {
					"data": data
				},
				callback: (data) => {
					$("input").val("");
					if (data.message == "OK") {
						frappe.msgprint({
							message: __("Your Account has been successfully created!"),
							clear: true
						});
					 setTimeout(function() {
							window.location.href = "/login";
						}, 2000);
					}
				}
			});
			return false;*/
		});
	})
</script>

{% block style %}
<style>
	.password-strength-indicator {
		float: right;
		padding: 15px;
		margin-top: -38px;
		margin-right: -7px;
	}

	.password-strength-message {
		margin-top: -10px;
	}
</style>
{% endblock %}
