body.product-page{
    
    background:white;
    font-family: 'Inter', sans-serif;
    /*background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important ;*/
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
body:lang(he) {
  direction: rtl;
  text-align: right;
}
/* Styles for screens smaller than 480px (common for mobile phones) */
@media screen and (max-width: 480px) {
    .navbar-collapse{
        z-index: 1;
        background-color: white;
    }
}
/*.navbar{
    background: transparent !important;
    border-bottom: transparent !important;
}
.navbar .container{
    height:100px;
}
.navbar .nav-link{

    font-weight: 200 !important;
    font-size:larger !important;
}
.navbar-brand img {
    width:200px;
    height:40px;
    max-width: 200px !important;
    max-height: 44px !important;
}*/
@font-face {
    font-family: 'HandelGothic';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/highskills_erpnext/font/HandelGo.ttf') format('truetype');
}
.hg , .hs{
    font-family: 'HandelGothic', sans-serif;
    font-weight: 100;
}
.btn{
    border: 1px solid black !important;
}
.product-page .card-body .product-category{
    display:none;
}
#page-home .card-body .product-category{
    display:none;
}
.product-category-section .card-grid{
    grid-template-columns: repeat(4, 1fr) !important;
}
.product-category-section .card-img-top{
    height: 200px;
    padding: 20px;
}
.product-category-section .card-body{
    font-weight: 700;
    font-size: 16px;
    color:blue !important;
    text-decoration: underline;
}
.item-card-group-section .product-title{
    font-weight: 700 !important;
    font-size: 16px !important;
    color:blue !important;
    text-decoration:underline;
}
.cart-payment-addresses [data-section="shipping-address"] , .cart-payment-addresses .checkbox{
    display:none !important;
}
.breadcrumb-item.active{
color: black !important;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* Fallback for older browsers */
    clip-path: inset(50%);
    border: 0;
}
#page-about .section{
    padding:0 !important;
}
.footer-logo-extension{
    display:none;
}
.footer-group-links{
    padding-inline-start: 0px;
}
.web-footer{
    padding-top:0 !important;
    background-color: black;
    display: inline-table;
    direction: rtl;
    color: white;
}
#cookieConsentOverlay{
    direction: rtl; /* Right-to-left for Hebrew */
    text-align: right; /* Explicitly align all text to the right */
    margin: 0;
    /* Add margin to the bottom of the body to prevent content from being hidden by the banner */
    margin-bottom: 70px; 
}
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    min-height: 90px;
    border-top: 2px solid black;
}

.cookie-banner.hidden {
    display: none;
}

.cookie-content {
    display: block;
    float: right;
}

.cookie-content p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 5px;
}

.cookie-content small {
    color: #666;
    font-size: 10px;
}

.cookie-links-wrapper {
    width: 100%;
    height: 100%;
}

.checkbox-group {
    float:right;
    margin-left: 15px;
}


.checkbox-group label {
    font-size: 14px;
    vertical-align: middle;
}

.checkbox-group a {
    color: blue;
    text-decoration: underline;
    margin-right:5px;
}

.accept-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 15px;
}

.accept-btn:hover {
    background-color: #0056b3;
}

.accept-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
#acceptCookiesBtn{
    float:right;
}
.cookie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cookie-overlay.hidden {
    display: none;
}
.footer-group-label{
    color:inherit !important;
    font-weight: 700;
    font-size: 1.25rem !important;
}
.footer-link, .footer-child-item a {
    color: inherit !important;
    font-size: 1rem !important;
}
.footer-info {
    color: inherit !important;
}
/* Login page */
.toggle-password.text-muted{
    color:black !important;
}
#login_password{
   color:black !important;
}
.forgot-password-message a{
   color:black !important; 
}
.text-center.sign-up-message{
     color:black !important; 
}
.text-center.sign-up-message a{
     color:blue !important; 
     text-decoration:underline;
}
 [data-section-template="Product Category Cards"] .card, [data-section-template="Item Card Group"] .card{
        border: 1px solid rgba(0, 0, 0, .125);
    }
    [data-section-template="Item Card Group"]{
        margin-top: 1.5rem !important;
    }
    [data-section-template="Item Card Group"] .product-category{
        display:none;
    }
    [data-section-template="Item Card Group"] .item-card-group-section .card {
        height: 250px !important;
    }
    [data-section-template="Item Card Group"] .item-card-group-section .card-img{
        padding: 15px;
        margin-top: 0;
        border-radius: 25px;
        max-height: 200px;
        height: 200px;
        object-fit: initial;
    }
    [data-section-template="Item Card Group"] .item-card-group-section .card-body{
        height:100px;
    }
    [data-section-template="Item Card Group"] .item-card-group-section .card-img-container{
        height: 200px;
    }
    [data-section-template="Item Card Group"] .item-card-group-section .product-title{
        color: black !important;
        text-decoration: none;
        text-align: right;
        padding-right:15px;
    }
    .product-category-section .card-img-top{
        border-radius: 25px;
        padding: 15px !important;
    }
    .product-category-section .card-body.text-muted{
        color: black !important;
        text-decoration:none !important;
        padding: 15px;
    }
    .item-card-group-section .card-body{
        padding:0;
    }
    .item-card-group-section .mt-4{
        margin-top:0 !important;
    }
